APP_NAME="Mini RAG APP"
APP_VERSION="0.1"

FILE_UPLOADED_MAXIMUM_SIZE=10
FILE_UPLOADED_ALLOWED_TYPES=["text/plain","application/pdf"]
FILE_DEFUALT_CHUNK_SIZE=1024

POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST="pgvector"
POSTGRES_MAIN_DB=
GENERATION_BACKEND_LITERALS=["OPENAI", "COHERE"]
GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="OPENAI"

OPENAI_API_KEY="Ollama" 
OPENAI_BASE_URL=
COHERE_API_KEY=
GENERATION_MODEL_ID_LITERALS=["llama3.2:1b","openai/gpt-oss-120b:free"]
GENERATION_MODEL_ID="llama3.2:1b"
EMBEDDING_MODEL_ID="embeddinggemma:300m"
EMBEDDING_MODEL_SIZE=768

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

VECTOR_DB_BACKEND="PGVECTOR"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"
VECTOR_DB_PGVEC_INDEX_THRESHOLD=100

PRIMARY_LANG = "en"
DEFAULT_LANG = "en"