APP_NAME='Mini RAG APP'
APP_VERSION='0.1'

FILE_UPLOADED_MAXIMUM_SIZE=10
FILE_UPLOADED_ALLOWED_TYPES=['plain/text','application/pdf']
FILE_DEFUALT_CHUNK_SIZE

DB_URL="mongodb://localhost:27007/"
DB_NAME='mini-rag-db'

GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="COHERE"

OPENAI_API_KEY=
OPENAI_BASE_URL=
COHERE_API_KEY=

GENERATION_MODEL_ID=
EMBEDDING_MODEL_ID=
EMBEDDING_MODEL_SIZE=

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"

PRIMARY_LANG = "en"
DEFAULT_LANG = "en"
