APP_NAME='Mini RAG APP'
APP_VERSION='0.1'

FILE_UPLOADED_MAXIMUM_SIZE=10
FILE_UPLOADED_ALLOWED_TYPES=['plain/text','application/pdf']
FILE_DEFUALT_CHUNK_SIZE

DB_URL="mongodb://localhost:27007/"
DB_NAME='mini-rag-db'

