APP_NAME="Mini RAG APP"
APP_VERSION="0.1"

FILE_UPLOADED_MAXIMUM_SIZE=10
FILE_UPLOADED_ALLOWED_TYPES=["text/plain","application/pdf"]
FILE_DEFUALT_CHUNK_SIZE=1024

POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_MAIN_DB=
GENERATION_BACKEND_LITERALS=["OPENAI", "COHERE"]
GENERATION_BACKEND=
EMBEDDING_BACKEND=

OPENAI_API_KEY=
OPENAI_BASE_URL=
COHERE_API_KEY=
GENERATION_MODEL_ID_LITERALS=["llama3.2:1b","openai/gpt-oss-120b:free"]
GENERATION_MODEL_ID="
EMBEDDING_MODEL_ID_LITERALS=["embeddinggemma:300m", "nomic-embed-text-v2-moe:latest"]
EMBEDDING_MODEL_ID=
EMBEDDING_MODEL_SIZE=

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1
VECTOR_DB_BACKEND_LITERALS=["QDRANT", "PGVECTOR"]
VECTOR_DB_BACKEND=
VECTOR_DB_PATH=
VECTOR_DB_DISTANCE_METHOD_LITERALS=["dot", "cosine"]
VECTOR_DB_DISTANCE_METHOD=
VECTOR_DB_PGVEC_INDEX_THRESHOLD=
LANG_LITERALS=["en", "ar"]
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"